<% if !current_user || !current_user.user_authentications %>
  <div id="social_login">
    <h2>Login dengan</h2>
    <p>Jika anda sudah mempunyai akun di situs berikut, anda dapat login dengan menekan tombol icon di bawah ini.</p>
    <% Spree::AuthenticationMethod.where(:environment => ::Rails.env).each do |user| %>
      <p class="social_link">
      <%= link_to "Sign in with #{user.provider.capitalize}", "/users/auth/#{user.provider}",
      :title => "Sign in with #{user.provider}",
      :class => "btn-auth btn-#{user.provider.downcase}" if user.active %>
      </p>
    <% end %>
  </div>
<% end %>
